<!DOCTYPE html>
<html lang="en"  ng-app="publicApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Public App</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="static/js/vendor/pnotify/pnotify.custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="static/js/vendor/angular-strap.min.js"></script>
    <script src="static/js/vendor/angular-strap.tpl.min.js"></script>
    <script src="static/js/helpers.js"></script>
    <script src="static/js/vendor/angular-file-upload.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="static/js/vendor/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/js/vendor/pnotify/pnotify.custom.min.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/publicApp.js"></script>
    <script src="static/js/controllers/publicCtrl.js"></script>
    <script src="static/js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <img src="static/assets/Logo.png">
        </a>
    </div>
    <ul style="float: right;direction: rtl" class="nav navbar-nav">
        <li><a ng-click="gotoElement('contactUsSection')" href="#/contactUs">צור קשר</a></li>
        <li><a ng-click="gotoElement('testimonialsSection')"  href="#/testimonialsSection">לקוחות ממליצים</a></li>
        <li><a ng-click="gotoElement('whoWeAreSection')" href="#/whoWeAreSection">קצת עלינו</a></li>
        <li><a ng-click="gotoElement('projectsSection')"  href="#/projects">פרוייקטים</a></li>
    </ul>
</nav>
<div class="col-xs-12">
    <div ng-view></div>
</div>

<div   id="contactUsSection" style="margin-top: 30px" class="row contactUsContainer">

    <div  style="text-align: center" class="col-xs-12 col-md-offset-1 col-md-5 alignRight  rtl">
      <img src="static/assets/Footer_bg.jpg">
    </div>
    <div  style="text-align: center" class="col-xs-12 col-md-4 col-md-offset-1   alignRight rtl">
        <div class="row">
            <h3 style="font-size: 46px;margin-top: 55px;margin-bottom: 30px" class="rtl alignRight bold myGrey"> בואו נדבר </h3>
        </div>

        <div style="margin-bottom: 30px" class="row">
            <div  class="borderinon"></div>
        </div>
        <div  class="row">
            <p style="margin-up: 30px" class="regularText myGrey" style="margin-bottom: 10px"> חושבים לעשות שיפוץ בבית,הרחבה או תוספת בפנים או בחוץ? הגעתם למקום הנכון</p>
        </div>
        <div style="margin-bottom: 30px" class="row">
            <p  class="regularText myGrey">  צרו עימנו קשר דרך הטופס ונחזור אליכם טיק טק </p>
        </div>
        <div class="row">
            <form class="regularText" name="contactUsForm">
                <div class="form-group">
                    <label  class="regularText myGrey" for="exampleInputEmail1">שם מלא</label>
                    <input required ng-model="contact.fullName" type="text" class="form-control myGrey" id="exampleInputEmail1" placeholder="הכנס/י את שמך המלא כאן">
                </div>
                <div style="margin-bottom: 30px" class="form-group">
                    <label  class="regularText myGrey" for="exampleInputPassword1">טלפון</label>
                    <input required ng-model="contact.phone" type="text" class="form-control myGrey " id="exampleInputPassword1" placeholder="הכנס/י את מספר הטלפון כאן">
                </div>
                <div style="margin-bottom: 30px" class="form-group">
                    <label  class="regularText myGrey" for="exampleInputPassword1">אימייל</label>
                    <input required ng-model="contact.email" type="email" class="form-control myGrey" id="exampleInputPassword1" placeholder="הכנס/י את כתובת האי מייל כאן">
                </div>
                <div style="margin-bottom: 20px" class="form-group">
                    <label class="regularText myGrey" for="exampleInputPassword1">איך אנחנו יכולים לעזור לך ?</label>
                    <textarea rows="5" ng-model="contact.howCanWeHelp" type="text" class="form-control myGrey" id="exampleInputPassword1" > </textarea>
                </div>

                <button style="float: left" class="btn btn-warning">שלח אותי </button>

            </form>
        </div>

    </div>
</div>

</body>
</html>