<!DOCTYPE html>
<html lang="en"  ng-app="publicApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Public App</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="static/js/vendor/pnotify/pnotify.custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="static/js/vendor/angular-strap.min.js"></script>
    <script src="static/js/vendor/angular-strap.tpl.min.js"></script>
    <script src="static/js/helpers.js"></script>
    <script src="static/js/vendor/angular-file-upload.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="static/js/vendor/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/bower_components/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="static/js/vendor/pnotify/pnotify.custom.min.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/glyphter-font/css/Glyphter.css">
    <link rel="stylesheet" href="static/css/2/css/Glyphter.css">
    <link rel="stylesheet" href="static/vendor/slick/slick/slick.css">
    <link rel="stylesheet" href="static/vendor/slick/slick/slick-theme.css">
    <script src="static/js/publicApp.js"></script>
    <script src="static/js/vendor/ngSmoothScroll-master/lib/angular-smooth-scroll.js"></script>
    <script  src="static/vendor/slick/slick/slick.min.js"></script>
    <script src="static/bower_components/angular-slick/dist/slick.min.js"></script>
    <script src="static/js/controllers/publicCtrl.js"></script>
    <script src="static/js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript" src="static/bower_components/bounce.js/bounce.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-scroll-watch/src/angular-scroll-watch.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-inview/angular-inview.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-waypoints/dist/angular-waypoints.all.min.js"></script>

    <script type="text/javascript">
        (function(){
            emailjs.init("user_Z8mRIlQBfdHB3FmQswOFC");
        })();
    </script>

</head>
<body scroll ng-controller="MainCtrl">
<nav  id="navBar"  ng-class="{'navBarTopped ': imTopped && !imProjected}" class="navbar navbar-default myNavbar" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a ng-if="imTopped && !imProjected" class="navbar-brand" href="#/">
            <img src="static/assets/Logo.png">
        </a>
        <a style="height: 100%" ng-if="!imTopped || imProjected" class="navbar-brand" href="#/">
            <img src="static/assets/Logo_black.png">
        </a>
    </div>
    <ul  style="float: right;direction: rtl" class="nav navbar-nav">

        <li   ng-if="showNav || !imTopped" class="clickable"><a ng-class="{'whiteText' : imTopped , 'myGrey' : !imTopped }" class="boldSmallText"   offset="60" scroll-to="contactUsSection">צור קשר</a></li>
        <li ng-if="showNav || !imTopped && !imProjected" class="clickable"><a ng-class="{'whiteText' : imTopped , 'myGrey' : !imTopped }" class="boldSmallText"  offset="60" scroll-to="testimonialsSection">לקוחות ממליצים</a></li>
        <li ng-if="showNav || !imTopped && !imProjected" class="clickable"><a ng-class="{'whiteText' : imTopped , 'myGrey' : !imTopped }" class="boldSmallText"  offset="60" scroll-to="whoWeAreSection">קצת עלינו</a></li>
        <li ng-if="showNav || !imTopped && !imProjected " class="clickable"><a ng-class="{'whiteText' : imTopped , 'myGrey' : !imTopped  }" class="boldSmallText"  offset="70" scroll-to="projectsSection">פרוייקטים</a></li>
        <li   ng-if="imTopped && !showNav && !imProjected && false"  class="clickable">
            <a  ng-click="toggleNav()">
                <i style="color: white" class="icon-Menu"></i>
            </a>
        </li>

        <li   ng-if="imProjected" ng-mouseleave="projectNavHoverOut()" ng-mouseover="projectNavHoverIn()" class="clickable">
            <a style="padding-right: 0" ng-click="toggleSideMenu(true)" class="myGrey boldSmallText"> לצפייה בכל הפרוייקטים</a>
        </li>

        <li   ng-if="imProjected  && !showSideProjects" ng-mouseleave="projectNavHoverOut()" ng-mouseover="projectNavHoverIn()" class="clickable">
            <a ng-click="toggleSideMenu(true)" class="myGrey boldSmallText">
                <i  style="color: black" class="icon-Projects"></i>
            </a>

        </li>
        <li   ng-if="imProjected && showSideProjects" ng-mouseleave="projectNavHoverOut()" ng-mouseover="projectNavHoverIn()" class="clickable">
            <a ng-click="toggleSideMenu(false)" class="myGrey boldSmallText">
                <i  style="color: black"  class="icon-Close"></i>
            </a>
        </li>



    </ul>
</nav>
<div style="padding-left: 0;padding-right: 0" class="col-xs-12">
    <div ng-view></div>
</div>



</body>
</html>