
body {
    font-family: myRegular !important;
}

@media (max-width :  1900px){/*Class name*/{/*properties*/}}


.carouselImage .actions {
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -42px;
    position: absolute;
}

.miniProjectImages .actions {
    top: 30%;
    left: 50%;
    margin-top: -17px;
    margin-left: -42px;
    position: absolute;
}


.miniCarouselWrappar .col-md-2 {
    margin-bottom: 30px;
    margin-top: 30px;
}



input , textarea{
    direction: rtl; !important
}

.stickIcon{
    max-height: 80px;

}

.projectImage{
    max-height: 200px;
}

.testimonialImage{
    max-height: 150px;
}

.testimonialSmallImage{
   max-width: 11vw;
}

.projectsContainer .hovered{
    opacity: 0.2;
    transform: scale(1);
}

.imageMask{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 20px;
   background: rgba(0,0,0,0.3);
}

.imageContainer{
    background-color: #292929 !important;
}

.borderedText{
    text-align: center;
    border: solid black;
    padding: 5px 10px;
    border-width: 2px 0px 2px 2px ;
}

.miniProjectCarousel .carousel-indicators{
    bottom: 15px !important;
}

.alignRight{
    text-align: right !important;
}

#ourProjectsCta:hover {
    background: #f6a721;

}

.myButton{
    width: 234px;
    height: 55px;
    background: #f6b721;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


.categoryFilter{
    margin-left: 15px;
    font-family: 'Open Sans';
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;

}

.categoryFilter:hover{
    color: #4e4e4e !important;
}



.floatingContainer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top : calc(50% - 30px);



}

.projectView .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}



.borderon{
    height: 1px;
    width: 72px;
    border-width: 6px 0px 0px 0px;
    border-style: solid;
    border-color: #f6a721;
    margin-left: auto;
    margin-right: auto;
}

.borderinon{
    height: 1px;
    width:56px;
    border-width: 4px 0px 0px 0px;
    border-style: solid;
    border-color: #4e4e4e;
    float: right;
}

.myCategoryFilter .active {
    font-family: myBold;
    font-size: 18px;
    color: #4e4e4e !important;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    border-color: #f6a721;

}

.clickable{
    cursor: pointer;
}

.rtl{
    direction: rtl !important;

}

.alignRight{
    text-align: right !important;
}

@font-face {
    font-family: myBold;
    src: url(fonts/OpenSansHebrew-Bold.ttf);
}

@font-face {
    font-family: myBoldItalic;
    src: url(fonts/OpenSansHebrew-BoldItalic.ttf);
}

@font-face {
    font-family: myRegular;
    src: url(fonts/OpenSansHebrew-Regular.ttf);
}

.regularFont{
    font-family: myRegular !important;
}


.navbar-brand{
 padding: 8px 15px !important;
}
.liner{
    margin-left: auto;
    margin-right: auto;
}

.boldHeader{
    font-family: myBold;
    font-size: 76px;
    color: white;
}

.boldBigText{
    font-family: myBold;
    font-size: 40px;
}

.boldSubHeader{
    font-family: myRegular;
    font-size: 28px;
    color: white;
}

.boldTitle{
     font-family: myBold;
     font-size: 24px;
     color: white;
 }

.boldMiniTitle{
    font-family: myBold;
    font-size: 22px;
    color: #4e4e4e;
}

.boldSemiText{
    font-family: myBold;
    font-size: 20px;

}

.boldMiniHeader{
    font-family: myBold;
    font-size:60px;
}

.regular29Text{
    font-size: 29px;
    font-family: myRegular;
}

.bold{
    font-family: myBold;
}

.fuadIcon{
    font-size: 68px;
    color: white;
    border-bottom:  1px solid white;
   
}

.regularSubtitle{
    font-family: myRegular;
    font-size: 18px;
    color: white;
}

.regularTitle{
    font-family: myRegular;
    font-size: 32px;
}

.regularText{
    font-family: myRegular;
    font-size: 18px !important;

}

.regularSmallText{
    font-family: myRegular;
    font-size: 16px;

}

.regularExtraSmallText{
    font-family: myRegular;
    font-size: 16px;
    line-height: 1.5 !important;
}

.borderedTextSection{
    margin-top: 50px;
}


.boldExtraSmallText{
    font-family: myBold !important;
    font-size: 14px;
}

.regularBigText{
    font-family: myBold;
    font-size: 26px;
}

.regularLargeText {
    font-family: myRegular;
    font-size: 26px;
}

.regularMediumText{
    font-family: myRegular;
    font-size: 24px;
}

.boldSubtitle{
    font-family: myBold;
    font-size: 18px;
}

.boldSmallText{
    font-family: myBold;
    font-size: 16px;
}

.whiteText{
    color: white !important;
}


.textWrap{
    padding: 50px;
}

.sendMailConfirmationOuter{
    position: absolute;
    border-width: 3px;
    border-color: #4e4e4e;
    border-radius: 0;
    border-style: solid;
    top : calc(50% + 160px);

}

.boldSubtitle .active{
    font-family: myBold;
    font-size: 18px;
    color: #4e4e4e;
}

.disableButtonText{
    opacity: 0.5;
    cursor: default !important;
}

.carousel-caption{
    top : 20px !important;
     text-shadow: none !important;
}

.whoWeAreRowRight p{
    padding-left: 25px;
}


.whoWeAreRowLeft p{
    padding-right: 25px;
}

.whoWeAreRowLeft h3{
    padding-right: 25px;
}




.triangle {
    background: green;
    border: 2px solid yellow;
    border-width: 2px 2px 0 0;
    transform: rotate(-45deg);
    position: relative;
    width: 20px;
    height: 20px;
}



.buttonWrapper  {

}

.myGrey{
    color: #4e4e4e !important;
}

.slick-arrow{
    top: calc(50% - 40px) !important;

}

.slick-arrow:before{
    color: #4e4e4e !important;
}

.myYellow{
  color : #f6a721 !important;
}

.myOtherGrey{
    color: #666666 !important;
}

.myOtherWhite{
    color : #ababab !important;
}

.contactUsContainer{
    background-color: #ececec;
    margin-right: 0 !important;
    margin-left: 0 !important;

}

.circleImage{
    text-align: right !important;
    padding-right: 0px !important;
}

.fancyBackground{
    background-image: url('../assets/Black_bg.jpg');
    height: 626px;
}

#projectAnimatedContainer {
    -webkit-animation-duration: 1s;
}

.carouselCheviLeft{
    position: absolute;
    left:0;
    top : 65%;
    border: 0 !important;
    background: transparent !important;
    font-size: 22px;
}

.noLeftRightMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.noLeftRightPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.carouselCheviRight .disabled{
    color: #cbcbcb !important;
}

.carouselCheviLeft .disabled{
    color: #cbcbcb !important;
}


.carouselCheviRight{
    position: absolute;
    right:0;
    top : 65%;
    border: 0 !important;
    background: transparent !important;
    font-size: 22px;

}

.miniProjectChevi {
    top: 108px !important;
}

.projectsContainer .col-md-4 {
    float: right !important;
}

.myThumb   {
    border: 3px solid #cbcbcb !important;
}


.testImageContainer .actived  {
    border: 3px solid #2e2e2e !important;
}

.testImageContainer {
    text-align: center;
}

.testImageContainer img {
    max-width: 140px;
}
.serviceSvg{
    height:68px;
    fill: white;
}

.carousel-indicators{

}

textarea[name=contactFreeText] {
    resize: none;
}

.carousel-indicators li{
    border-radius: 0 !important;
    height: 16px;
    width: 16px;
    margin: 0;
    margin-left: 3px;
    opacity: 0.7;
    border-width: 3px;
    background: white;
    margin-right: 10px;



}

.carousel-indicators .active{
    height: 16px;
    width: 16px;
    margin: 0;
    margin-left: 3px;
    background: transparent;
    margin-right: 10px;

    opacity: 1;

}

svg{
    fill : blue;
}

.detailsImagesRow .col-md-4 {
    padding-right: 30px !important;
   padding-left: 30px !important;
}

.myNavbar {
    position: fixed;
    left:0;
    right: 0;
    top : 0;
    z-index: 100000000000;
    opacity: 0.9;
    border-radius: 0;
    border: 0;
    background: #ffffff;
}
.commaImageRight{
    position: absolute;
    right: 0;
    top : -2px

}

.commaImageLeft{
    position: absolute;
    left: 0;
    bottom: -13px;

}

.commaImageRight path {
    fill: #ff0000;

}

.projectImageContainer img{
    width: 100%;
}

.myCarousel .glyphicon-chevron-right{
    display: none !important;

}

.myCarousel {
    padding: 0;
}

.anotherCarousel .carousel-indicators{
    bottom: 15px !important;
}

.miniProjectCarousel .carousel-control{
    display: none !important;
}

.myCarousel .glyphicon-chevron-left{
    display: none !important;
}

.anotherCarousel .glyphicon {
    display: none !important;
}



.contactUsSection .row{
    margin-left: 0;
    margin-right: 0;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px  #ececec inset !important;
    background-color: #ececec !important;
}



.navbar-header a {
    padding: 13px 20px 12px 20px !important;
}



.reqText{
    color: #e22246;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}

.myNavbar .navbar-nav>li>a{
    padding-bottom: 14px;
    padding-top: 26px;

}
.nav-devider{
    height: 15px;
    width: 1px;
    border-left: 1px solid #dfdfdf ;
    padding: 0 !important;
    margin-top: 29px;
}

.myNavbar .navbar-nav>li>a:hover{
    color: black !important;
}


.navBarTopped{
    background: transparent;
    border: none;
    box-shadow: none;

}

.subCategoryDesc{
    position: absolute;
    top : calc(50% - 65px);
    left: 0;
    right: 0;

}

.testimonialSmallImage  {
    padding: 0 !important;
}


.navBarTopped .navbar-nav>li>a {
    color: white;
}

.circleImageContainer p {
    font-family: myRegular;
    font-size: 14px;
    color : #4e4e4e !important;
}

.outWrap{
    width: 406px;
    height:202px;
    border-width: 3px;
    border-color: #4e4e4e;
    border-radius: 0;
    border-style: solid;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:calc(50% - 91px);

}

.innerWrap {
    width: 386px;
    height: 182px;
    border-width: 2px;
    border-color: #4e4e4e;
    border-radius: 0;
    border-style: solid;
    margin: 7px;
}

.contactUsTextArea{
    border-width: 2px;
    border-color: #4e4e4e;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    width: 510px !important;
}
.contactUsInput{
    display: inline-block !important;
    width: 450px !important;
    padding-right: 20px;
    border-width: 0 0 2px 0;
    border-color: #4e4e4e;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    margin-right: -5px;
}

.contactUsButton{
    border-width: 2px;
    border-color: #4e4e4e;
    border-radius: 0;
    border-style: solid;
}


.contactUsButton:hover{
   color: rgb(236, 236, 236);
   background-color:rgb(78, 78, 78)
;
}





.contactUsTextArea:focus{
    outline: 0;
    border-width: 2px;
    border-color: #4e4e4e;
    border-radius: 0;
    box-shadow: none;

}

.contactUsInput:focus{
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: #4e4e4e;
    border-radius: 0;
    box-shadow: none;

}

.contactUsLabel{
    width:60px;
    border-width: 0 0 2px 0;
    border-color: #4e4e4e;
    border-style: solid;
    margin-bottom: 0;
    padding-bottom: 5px;

}
.floatingNavBar{
    position: fixed;
    top : 0;
    bottom: 0;
    right:0px;
}



.floatMeRight {
    float : right !important;
}

.sideProjectHovered{
    background: rgb(41,41,41,0.8) !important;
    opacity: 0.8;
}

.floatMe{
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.carousel-indicators{
    bottom: 120px !important;
}

