<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success" ng-click="open('md' , null)"><i style="margin-right: 5px" class="fa fa-plus-circle"></i>New</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 carouselImage">
        <div ng-mouseleave="hoverOut()" ng-mouseover="hoverIn()" ng-repeat="image in carouselImages" class="col-xs-3 animated slideInUp">
            <div ng-show="hoverEdit" class="actions animated  fadeIn">
                <div ng-click="open('md' , image)" style="margin-right: 5px" class="btn btn-primary">
                    <i  class="fa fa-pencil "></i>
                </div>
                <div ng-click="openDeleteModal(image)" class="btn btn-danger">
                    <i  class="fa fa-trash"></i>
                </div>
            </div>
            <img ng-src="{{image.imagePath}}" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>



<div>
    <script type="text/ng-template" id="carousel.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Carousel Image</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Image Title</label>
                    <input ng-model="image.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="Image Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input ng-model="image.text" type="text" class="form-control" id="exampleInputPassword1" placeholder="Image Description">
                </div>
            <div ng-if="url == null && imageId != null" class="form-group">
                    <img ng-src="{{image.imagePath}}" alt="..." class="img-thumbnail">
                </div>
                <div ng-if="url != null" class="form-group">
                    <img ng-src="{{url}}" alt="..." class="img-thumbnail">
                </div>

                <button class="btn btn-default" ng-file-select="onCampaignMainImageSelect($files)">Upload Image File</button>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(image)">Save <i ng-if="uploadingImage" class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="deleteCarousel.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Carousel Image</h3>
        </div>
        <div class="modal-body">
           Are You Sure You Want To Delete This Image ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="ok()">Delete <i ng-if="uploadingImage" class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


