<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success col-xs-2" ng-click="addNewProject()"><i style="margin-right: 5px" class="fa fa-plus-circle"></i>New</button>
        <span style="margin-left: 30px" class="btn-group col-xs-5">
            <label ng-repeat='category in categories' class="btn btn-primary" ng-model="$parent.filteredCategory" btn-radio="'{{category.id}}'" uncheckable>{{category.title}}</label>
        </span>
        <div class="input-group col-xs-4">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
            <input ng-model="query"type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
        </div>
    </div>
</div>
<div style="margin-top: 30px" class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="list-group">
            <a ng-init="getTitles(item)" ng-repeat="item in projects | isCategory:filteredCategory | filter:query | orderBy:'myOrder'" class="list-group-item row">
                <div class="col-md-1">
                    <i ng-if="item.featured == 1" class="fa fa-star"></i>
                    </div>
                <div class="col-md-3">
                     <span>
                      <h4>{{item.title}}  </h4>
                      <p> {{item.description}}</p>
                </span>
                </div>
                <div class="col-md-3">
                     <span>
                      <h4>{{item.categoryTitle}}  </h4>
                      <p> {{item.subCategoryTitle}}</p>
                </span>
                </div>
                <div class="col-md-3">
                      <span>
                     <img ng-src="{{item.imagePath}}" alt="..." class="img-thumbnail stickIcon">
                </span>
                </div>
                <div style="display: table;" class="col-md-2">
                    <button ng-click="openEditProjectModal('md' , item)" style="margin-right: 5px" class="btn btn-primary">
                        <i  class="fa fa-pencil "></i>
                    </button>
                    <button  style="margin-right: 5px" ng-click="deleteProject(item)" class="btn btn-danger">
                        <i  class="fa fa-trash"></i>
                    </button>
                    <button ng-click="togglePublish(item)" ng-class="{'btn-default' : item.published == 0 , 'btn-success' : item.published == 1 }" class="btn">
                        <i ng-class="{'fa-toggle-off' : item.published == 0 , 'fa-toggle-on' : item.published == 1 }" class="fa"></i>
                    </button>
                </div>


            </a>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="addNewProjectModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Project</h3>
        </div>
        <div class="modal-body">
            <form name="addNewProjectForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Project Title</label>
                    <input required ng-model="item.title" type="text" class="form-control" id="exampleInputEmail1" placeholder="Image Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input required ng-model="item.description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Image Description">
                </div>
                <div ng-if="url == null && imageId != null" class="form-group">
                    <img ng-src="{{image.imagePath}}" alt="..." class="img-thumbnail projectImage">
                </div>
                <div ng-if="url != null" class="form-group">
                    <img ng-src="{{url}}" alt="..." class="img-thumbnail projectImage">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Category</label>
                    <select required ng-change="selectCategory(item.categoryId)" ng-model="item.categoryId" class="form-control">
                        <option ng-value="category.id" ng-repeat="category in categories">{{category.title}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Sub Category</label>
                    <select required ng-change="selectSubCategory(item.subCategoryId)" ng-model="item.subCategoryId" class="form-control">
                        <option ng-value="subCategory.id" ng-repeat="subCategory in selectedCategory.subCategories">{{subCategory.title}}</option>
                    </select>
                </div>
                <div style="margin-top: 20px" class="form-group">
                    <div>
                        <button type="button" class="btn btn-primary" ng-model="item.featured" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                            <i class="fa fa-star"></i>
                        </button>
                    </div>
                    <div style="margin-top : 15px">
                        <label ng-if="item.featured == 1" for="exampleInputPassword1">Order</label>
                        <input ng-if="item.featured == 1" required ng-model="item.myOrder" type="text" class="form-control" id="exampleInputPassword1" placeholder="Project Order">
                    </div>


                </div>


                <button class="btn btn-default" ng-file-select="onCampaignMainImageSelect($files)">Upload Image File</button>

            </form>
        </div>
        <div class="modal-footer">
            <button ng-disabled="!addNewProjectForm.$valid" class="btn btn-primary" type="button" ng-click="ok(item)">Save <i ng-if="uploadingImage" class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="editProjectModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Project {{item.title}}</h3>
        </div>
        <div class="modal-body">
            <form style="margin-top: 30px" name="editProjectForm">
            <uib-tabset>
            <uib-tab   ng-click="tabs[0].active = true" heading="Texts" active="tabs[0].active" disable="tab.disabled">

                    <div style="margin-top: 20px" class="form-group">
                        <div>
                            <button type="button" class="btn btn-primary" ng-model="item.featured" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                <i class="fa fa-star"></i>
                            </button>
                        </div>
                        <div style="margin-top : 15px">
                            <label ng-if="item.featured == 1" for="exampleInputPassword1">Order</label>
                            <input ng-if="item.featured == 1" required ng-model="item.myOrder" type="text" class="form-control" id="exampleInputPassword121" placeholder="Project Order">
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Project Title</label>
                                <input required ng-model="item.title" type="text" class="form-control" id="exampleInputEmail121" placeholder="Project Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <input required ng-model="item.description" type="text" class="form-control" id="exampleInputPassword132" placeholder="Project Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">About Me</label>
                                <textarea col="4" required ng-model="item.aboutMe" type="text" class="form-control" id="exampleInputPassword143" placeholder="Project About Me"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Project Explanation</label>
                                <textarea col="4" required ng-model="item.explainMe" type="text" class="form-control" id="exampleInputPassword1523" placeholder="Project Explanation"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Category</label>
                                <select  ng-options="category.id as category.title for category in categories" required ng-change="selectCategory(item.categoryId)" ng-model="item.categoryId" class="form-control">

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Sub Category</label>
                                <select  ng-init="selectCategory(item.categoryId)" ng-options="subCategory.id as subCategory.title for subCategory in selectedCategory.subCategories" required ng-change="selectCategory(item.categoryId)" ng-model="item.subCategoryId" class="form-control">

                                </select>

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Another Title</label>
                                <input col="4"  ng-model="item.anotherTitle" type="text" class="form-control" id="exampleInputPassword5231" placeholder="Project Another Title">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Another Text</label>
                                <textarea col="4"  ng-model="item.anotherText" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Project Another Text"></textarea>
                            </div>
                        </div>
                    </div>

            </uib-tab >
                <uib-tab  ng-click="tabs[1].active = true" heading="Images" active="tabs[1].active" disable="tab.disabled">
                    <div style="margin-top: 30px" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Project Cover</label>
                                <div style="text-align: center" ng-if="url == null && item.imagePath != null" class="form-group">
                                    <img ng-src="{{item.imagePath}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="url != null" class="form-group">
                                    <img ng-src="{{url}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onCampaignMainImageSelect($files)">Upload Image File</button>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Project Big Image</label>
                                <div style="text-align: center" ng-if="bigImageurl == null && item.bigImage != null" class="form-group">
                                    <img ng-src="{{item.bigImage}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="bigImageurl != null" class="form-group">
                                    <img ng-src="{{bigImageurl}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onProjectBigImageSelect($files)">Upload Image File</button>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Project Bannar Image</label>
                                <div style="text-align: center" ng-if="bannarUrl == null && item.bannarImage != null" class="form-group">
                                    <img ng-src="{{item.bannarImage}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="bannarUrl != null" class="form-group">
                                    <img ng-src="{{bannarUrl}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onProjectBannarImageSelect($files)">Upload Image File</button>
                        </div>


                    </div>
                    <div style="margin-top: 15px" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#1</label>
                                <div style="text-align: center" ng-if="detailedImageUrl1 == null && item.image1 != null" class="form-group">
                                    <img ng-src="{{item.image1}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageUrl1 != null" class="form-group">
                                    <img ng-src="{{detailedImageUrl1}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedImage1Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #1 Text</label>
                                <input   ng-model="item.image1Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#2</label>
                                <div style="text-align: center" ng-if="detailedImageUrl2 == null && item.image2 != null" class="form-group">
                                    <img ng-src="{{item.image2}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageUrl2 != null" class="form-group">
                                    <img ng-src="{{detailedImageUrl2}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button  class="btn btn-default" ng-file-select="onDetailedImage2Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #2 Text</label>
                                <input   ng-model="item.image2Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>

                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#3</label>
                                <div style="text-align: center" ng-if="detailedImageUrl3 == null && item.image3 != null" class="form-group">
                                    <img ng-src="{{item.image3}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageUrl3 != null" class="form-group">
                                    <img ng-src="{{detailedImageUrl3}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedImage3Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #3 Text</label>
                                <input   ng-model="item.image3Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#4</label>
                                <div style="text-align: center" ng-if="detailedImageUrl4 == null && item.image4 != null" class="form-group">
                                    <img ng-src="{{item.image4}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageUrl4 != null" class="form-group">
                                    <img ng-src="{{detailedImageUrl4}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedImage4Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #4 Text</label>
                                <input   ng-model="item.image4Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab  ng-click="tabs[2].active = true" heading="Extras" active="tabs[2].active" disable="tab.disabled">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#1</label>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl1 == null && item.imageCircle1 != null" class="form-group">
                                    <img ng-src="{{item.imageCircle1}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl1 != null" class="form-group">
                                    <img ng-src="{{detailedImageCircleUrl1}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedCircleImage1Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Circled Image #1 Text</label>
                                <input   ng-model="item.imageCircle1Text" type="text" class="form-control" id="exampleInputPassword1d235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#2</label>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl2 == null && item.imageCircle2 != null" class="form-group">
                                    <img ng-src="{{item.imageCircle2}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl2 != null" class="form-group">
                                    <img ng-src="{{detailedImageCircleUrl2}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedCircleImage2Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #2 Text</label>
                                <input   ng-model="item.imageCircle2Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#3</label>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl3 == null && item.imageCircle3 != null" class="form-group">
                                    <img ng-src="{{item.imageCircle3}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl3 != null" class="form-group">
                                    <img ng-src="{{detailedImageCircleUrl3}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedCircleImage3Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #3 Text</label>
                                <input   ng-model="item.imageCircle3Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#4</label>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl4 == null && item.imageCircle4 != null" class="form-group">
                                    <img ng-src="{{item.imageCircle4}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                                <div style="text-align: center" ng-if="detailedImageCircleUrl4 != null" class="form-group">
                                    <img ng-src="{{detailedImageCircleUrl4}}" alt="..." class="img-thumbnail projectImage">
                                </div>
                            </div>
                            <button class="btn btn-default" ng-file-select="onDetailedCircleImage4Select($files)">Upload Image File</button>
                            <div style="margin-top: 15px" class="form-group">
                                <label for="exampleInputPassword1">Detailed Image #4 Text</label>
                                <input   ng-model="item.imageCircle4Text" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Image Text"></input>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;padding-top: 15px;border-top: 1px solid #e5e5e5" class="row">
                        <div class="col-sm-12">
                            <label for="exampleInputPassword1">Bordered Text Title</label>
                            <input   ng-model="item.borderTextTitle" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Border Text Title"></input>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#1 Bordered Text</label>
                                <input   ng-model="item.borderText1" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Border Text"></input>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#2 Bordered Text</label>
                                <input   ng-model="item.borderText2" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Border Text"></input>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#3 Bordered Text</label>
                                <input   ng-model="item.borderText3" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Border Text"></input>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputPassword1">#4 Bordered Text</label>
                                <input   ng-model="item.borderText4" type="text" class="form-control" id="exampleInputPassword1235" placeholder="Enter Border Text"></input>

                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            </form>
        </div>
        <div class="modal-footer">
            <button ng-disabled="!editProjectForm.$valid" class="btn btn-primary" type="button" ng-click="ok(item)">Save <i ng-if="uploadingImage" class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="deleteProject.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Project</h3>
        </div>
        <div class="modal-body">
            Are You Sure You Want To Delete This Project ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="ok()">Delete <i ng-if="uploadingImage" class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
